* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    width: 100%;
    height: 75px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid #e5e5e5;
}

/* Logo */
.logo h2 {
    color: black;
    font-size: 24px;
    letter-spacing: 2px;
}

/* Right side area */
.nav-area {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Menu */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 12px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    position: relative;
    padding: 5px 0;
}

/*  Amazing Hover */
nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: rgb(124, 201, 231);
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Search Box */
.search-box input {
    padding: 7px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: 0.3s;
}

.search-box input:focus {
    width: 180px;
    border-color: black;
}
